@model IEnumerable<BlogPlatformMVC.Models.Post>

<h2>Related Posts</h2>
<ul>
    @foreach (var post in Model)
    {
        <li>
            <strong>@post.Title</strong><br />
        </li>
    }
</ul>